* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

#calculator {
    height: 300px;
    background-color: red;
    width: 250px;
}